.about {
  width: 80%;
  margin: 6rem auto 0 auto;
}

.about h2 {
  color: var(--primartText);
  margin-bottom: 1.5rem;
}

.about .userAbout {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.about .userAbout h3 {
  color: var(--primartText);
  line-height: 2rem;
}

@media (max-width: 768px) {
  .about {
    width: 90%;
  }
  .about .userAbout {
    display: flex;
    flex-direction: column;
  }
}
